#sidebar {
    float: left;
    position: fixed;
    height: 100%;
    z-index: 99;
}

.z-top {z-index: 99999;}

.hidden {
    display: none;
}

.gradient {
    background: linear-gradient(90deg, rgba(75, 64, 170, 0.5) 0%, rgba(195, 0, 255, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}

.blue-gradient {
    background: linear-gradient(90deg, rgba(0,184,148,1) 0%, rgba(0,212,255,1) 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ededed;
    border-right: 2px solid #0dcaf0;
}

.nav-pills .nav-link:hover {
    background-color: #ededed;
}

.top-bar {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    background: #f8f9fa;
    width: 100%;
    height: 60px;
}

.light-shadow {
    box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.15);
}

#bottom-sidebar {
    position: absolute;
    bottom: 2%;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

#bottom-sidebar .items a {
    font-size: 24px;
    margin: 35px;
}

#openMenu {
    font-size: 24px;
    margin-top: 7px;
    display: none;
}

#closeMenu {
    position: absolute;
    font-size: 32px;
    right: 5%;
    top: 2%;
}

#menu h2 {
    font-size: 32px;
    margin-left: 5%;
    margin-top: 2%;
}

.fadeInMenu {
    display: block;
    opacity: 1;
    backdrop-filter: blur(0px);
    animation: fadeInMenu 0.25s ease-in-out;
    animation-fill-mode: forwards;
}

#menu {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(75, 64, 170, 0.5) 0%, rgba(195, 0, 255, 0.5) 100%);
    color: #fff;
}

#menu ul {
    margin-left: -25px;
}

#menu ul li {
    list-style: none;
    margin-bottom: 20px;
}

#menu ul li a {
    text-decoration: none;
    font-size: 32px;
    color: #fff;
    margin-bottom: 10px;
}

@keyframes fadeInMenu {
    0% {
        display: none;
        opacity: 0;
      }
    
      1% {
        display: block;
        opacity: 0;
      }
    
      100% {
        display: block;
        opacity: 1;
        backdrop-filter: blur(5px);
      }
}

.spacer {margin-top: 70px;}

#authPage {
    background: url('../../public/images/bg-register-img.jpg') no-repeat;
    background-size: cover;
}

#authPage .window {
    border-radius: 10px;
    padding: 20px 50px;
    height: 500px;
    background: linear-gradient(90deg, rgba(75, 64, 170, 0.5) 0%, rgba(195, 0, 255, 0.5) 100%);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.logo-auth {
    width: 120px;
    height: 120px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    object-fit: contain;
}

.form-control-custom {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.form-control-custom::placeholder, .form-control-custom:focus {
    color: #fff;
}

.form-control-custom:focus {
    background: none;
}

#authPage .window .btn-secondary {
    background: none;
    border: 2px solid #fff;
}

#authPage .window .text-danger {
    color: #fbb !important;
}

img.snow {
    width: 450px;
    height: 400px;
    margin-left: -60px;
    margin-top: -210px;
    position: absolute;
}


@media screen and (max-width: 1400px) {
    img.snow {
        width: 396px;
    }
}

@media screen and (max-width: 1200px) {
    img.snow {
        width: 334px;
        height: 300px;
        margin-top: -160px;
    }
}

@media screen and (max-width: 992px) {
    img.snow {
        width: 496px;
        height: 400px;
        margin-top: -210px;
    }
}

@media screen and (max-width: 768px) {
    img.snow {
        width: 466px;
    }
    #sidebar {
        display: none !important;
    }
    #bottom-sidebar {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    img.snow {
        display: none;
    }

    #authPage .window {
        top: 0;
        position: absolute;
        height: 100%;
    }

    #bottom-sidebar .items {
        display: none;
    }

    #openMenu {
        display: block;
    }
}